
*.duckdb
*.duckdb.wal
emissions.duckdb.tmp/
duckdb_tmp/
*.tmp

*.parquet
*.parquet.gz
*.csv
*.csv.gz

logs/
*.log

__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
pip-wheel-metadata/
*.egg-info/


.dbt/
target/

.DS_Store
.idea/
.vscode/

*.jpg
*.gif
!plots/
!plots/*.png
